* {
	box-sizing: border-box;
}

/* ++++++++++++++++++++++++++++++++++++ header 1 ++++++++++++++++++++++++++++++++ */

/* -----------------------------
   colors used
   -----------------------------
    #000000
    #020203
    #4d84c4
    #a51c30
    #f5f5f8
    #ebebeb
    #ffffff
    
    You can see the color palette (minus the white and black) at: 
    https://coolors.co/a51c30-4d84c4-020203-ebebeb-f5f5f8
*/

/* -----------------------------
   fonts used
   -----------------------------
Note that Roboto and "Roboto Condensed" are available from the linked fonts already in the HTML

font-family stack for most things:
    Roboto, Arial, sans-serif;

font-family stack for 'condensed' elements, such as hX headings, header navigation, and links in the 'Explore'  section:
    'Roboto Condensed', Arial, sans-serif;
   -----------------------------  */

/* -----------------------------
   background images used
   -----------------------------
../images/hes_shield_wordmark.svg   - This is the HES Shield and HES Wordmark
../images/campus_bridge_river.jpg   - This is the background image for the 
                                      "Explore" section
../images/arrow-right.svg    - This is the crimson arrow next to the 
                                      hypertext links in the "Explore" sections
../images/mortar-board.svg          - The "cap" in Student Success stories 'program'
../images/map-marker.svg            - The map marker in Student Success 
                                      stories 'hometown'

   -----------------------------  */

body {
	font-family: Roboto, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* turn off sections you aren't working on so you can focus!
   I suggest you begin with working on the "footer"
*/
/* consider uncommenting this to start so that only the footer is visible! */
/*
div.explore,
div.studentsuccess,
header
{
    display: none;
}
*/

/* -----------------------------
   Styles for footer
   ----------------------------- */

/* ----------------------------- */

/* -----------------------------
   Styles for header
   ----------------------------- */

/* ----------------------------- */

/* -----------------------------
   Styles for header primary nav
   ----------------------------- */

/* ----------------------------- */

/* -----------------------------
   Styles for header primary nav
   ----------------------------- */

/* ----------------------------- */

/* -----------------------------
   Styles for header secondary nav
   ----------------------------- */

/* ----------------------------- */

/* -----------------------------
   Styles for "Explore"
   ----------------------------- */

/* ----------------------------- */

/* -----------------------------
   Styles for "Student Success"
   ----------------------------- */

/* ----------------------------- */

.container__header {
	display: grid;
	max-width: 1000px;
	align-items: center;
	font-family: 'Roboto Condensed', Arial, sans-serif;
	grid-template-columns: 0.8fr 1fr 1fr;
	grid-template-rows: 4rem 3rem 3.2rem;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'header__top__nav header__top__nav header__top__nav'
		'header__left__nav header__right__top header__right__top'
		'header__left__nav header__right__bottom header__right__bottom';
}

.header__top__nav {
	grid-area: header__top__nav;
	background-color: #a51c30;
	color: #f5f5f8;
	font-size: 0.6rem;
	padding-left: 1%;
	display: flex;
}

.header__left__nav {
	grid-area: header__left__nav;
	background-color: white;
	margin: 0% 0px 5px 3px;
	padding-left: 1%;
	display: flex;
}

.header__right__top {
	grid-area: header__right__top;
	background-color: white;
	color: blue;
	font-weight: bold;
	padding-left: 15px;
	display: flex;
}

.header__right__bottom {
	grid-area: header__right__bottom;
	background-color: white;
	font-weight: bold;
	font-size: 18.5px;
	display: flex;
}

.header__right__top--1-4 {
	color: #4d84c4;
	display: flex;
	padding-top: 4px;
	padding-left: 20px;
	padding-right: 18px;
	font-size: 17px;
}

.header__right__top--button {
	color: #4d84c4;
	border-style: solid;
	display: flex;
	margin: auto;
	display: flex;
	padding: 4px 19px 4px 19px;
}

.header__right__bottom--1-4 {
	color: #020203;
	display: flex;
	padding-right: 15px;
	padding-left: 6px;
	margin-top: 8px;
}

.header__right__bottom--button {
	color: #f5f5f8;
	border-style: solid;
	display: flex;
	padding: 6px 15px 6px 15px;
	margin-left: 13px;
	background-color: #a51c30;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	text-align: center;
	padding: 16px, 16px, 16px, 16px;

	text-decoration: none;
}

/* Change the link color to #EBEBEB (black) on hover */
li a:hover {
	background-color: #4d84c4;
	color: white;
}

/* ++++++++++++++++++++++++++++++++++++ main section 1 ++++++++++++++++++++++++++++++++ */

.margrow2 {
	margin: 10px 15px 10px 18px;
	line-height: 1;
}

.margrow3 {
	margin: 10px 15px 10px 15px;
	padding: 10px 5px 10px 5px;
	line-height: 1.6;
	color: #a51c30;
	font-weight: bold;
}

.d {
	grid-column: col 3 / span 2;
	grid-row: row 3;
	display: grid;
	grid-gap: 1px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.05fr 0.2fr 1fr;
}

.g {
	grid-column: 1 / 3;
	grid-row: 1;
	background-color: #a51c30;
}

.e {
	grid-column: 1 / 3;
	grid-row: 2;
	font-size: 19px;
	margin-top: 0px;
	background-color: white;
}

.f {
	grid-column: 1 / 3;
	grid-row: 3;
	background-color: #ebebeb;
}

.container__main1__opportunities {
	max-width: 1000px;
	display: grid;
	grid-template-columns: 0.05fr 1.1fr 1.1fr 1.1fr 0.05fr;
	grid-template-rows: 0.55fr 1.4fr 0.9fr 0.2fr;
	grid-auto-rows: 1fr;
	gap: 30px 40px;
	grid-auto-flow: row;
	grid-template-areas:
		'main1__top__row1 main1__top__row1 main1__top__row1 main1__top__row1 main1__top__row1'
		'. main1__left__row2 main1__center__row2 main1__right__row2 .'
		'. main1__left__row3 main1__center__row3 main1__right__row3 .'
		'. . . . .';
}

#container__main1__opportunities--img {
	grid-area: nav;
	background: url('/images/campus_bridge_river.jpg') rgb(0, 0, 0);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.main1__top__row1 {
	grid-area: main1__top__row1;
	text-align: center;
	text-shadow: 2px 2px #140202;
	font-size: 25px;
}

.main1__left__row2 {
	grid-area: main1__left__row2;
	text-align: left;
	background-color: white;
	color: black;
}

.main1__center__row2 {
	grid-area: main1__center__row2;
	text-align: left;
	background-color: white;
	color: black;
}

.main1__right__row2 {
	grid-area: main1__right__row2;
	text-align: left;
	background-color: white;
	color: black;
}

.main1__left__row3 {
	grid-area: main1__left__row3;
	text-align: left;
	background-color: white;
	color: black;
}

.main1__center__row3 {
	grid-area: main1__center__row3;
	text-align: left;
	background-color: white;
	color: black;
}

.main1__right__row3 {
	grid-area: main1__right__row3;
	text-align: left;
	background-color: white;
	color: black;
}
